.unlockedTitles {
    height: 40%;
    width: 100%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-bottom: 2px outset gold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    left: 0%;
}

.unlockedTitlesTitle {
    font-size: inherit;
    position: absolute;
    margin-bottom: auto;
    margin-top: inherit;
    align-self: center;
    top: 10%;
    margin: inherit;
}

.unlockedTitle {
    position: relative;
    height: auto;
    width: auto;
    border: 2px inset white;
    border-radius: inherit;
    transition: 0.5s;
}

.titleInfo {
    padding: 10px;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: black;
    border: 2px inset gold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lockedTitles {
    bottom: 0%;
    height: 40%;
    width: 100%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-top: 2px outset gold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lockedTitlesTitle {
    font-size: inherit;
    position: absolute;
    margin-bottom: auto;
    margin-top: inherit;
    align-self: center;
    top: 10%;
    margin: inherit;
}

.lockedTitle {
    position: relative;
    height: auto;
    width: auto;
    padding: 10px;
    border: 2px inset white;
    color: white;
    transition: 0.5s;
}

.unlockedTitle:hover {
    background-color: whitesmoke;
    color: black;
}

.lockedTitle:hover {
    background-color: whitesmoke;
    color: black;
}