button {
	appearance: none;
	border: .3em inset #e91e1e;
	background: black;
	padding: .85em 1.5em;
	color: #f8f1f1;
	border-radius: 1.5em;
	transition: 0.5s;
}

button:hover {
	background: #e90d0d;
	color: #fff;
}