.CreationPartie {
  background: url('./images/ParametersBackground.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 38px;
  font-weight: 900;
  color: white;
  text-shadow:
    2px 2px rgb(60, 60, 60),
    -2px 2px rgb(60, 60, 60),
    2px -2px rgb(60, 60, 60),
    -2px -2px rgb(60, 60, 60);
  background-color: transparent;
  margin-block-start: inherit;
  margin-block-end: inherit;
}

.creationOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px inset black;
  border-radius: 10px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.75);
}

.numberInput {
  width: fit-content;
  position: relative;
}

.gameChoice {
  width: auto;
  padding: 10px;
  border: 2px inset black;
  border-radius: 4px;
  background-color: rgb(60, 60, 60);
  color: white;
  outline: none;
  top: inherit;
  position: relative;
  transform: inherit;
}

.button {
  padding: 10px;
  border-radius: 0px;
  border: 2px inset green;
  transition: 0.5s;
}

.button:hover {
  background-color: green;
}